{% extends 'graph.html' %} {% block graphtitle %}Graph 1{% endblock graphtitle %} 

{% block graph1 %}
<section class="Chart">
  <div class="container">
    <div class="CHART">
      <canvas id="myChart1" width="20" height="20"> </canvas>
    </div>
  </div>
</section>
<script>

  var labels=["Rating 1", "Rating 2", "Rating 3", "Rating 4", "Rating 5"]
  var data = [];

  var d1 = [{{graph1data}}];
  data=d1[0]
  console.log(data)
  var title="{{title}}"


  var ctx = document.getElementById("myChart1").getContext("2d");
  var myChart = new Chart(ctx, {
    type: "bar",
    data: {
      labels: labels,
      datasets: [
        {
          label: title,
          data: data,
          backgroundColor: [
            "rgba(255, 99, 132, 0.2)",
            "rgba(54, 162, 235, 0.2)",
            "rgba(255, 206, 86, 0.2)",
            "rgba(75, 192, 192, 0.2)",
            "rgba(153, 102, 255, 0.2)",
            "rgba(255, 159, 64, 0.2)",
          ],
          borderColor: [
            "rgba(255, 99, 132, 1)",
            "rgba(54, 162, 235, 1)",
            "rgba(255, 206, 86, 1)",
            "rgba(75, 192, 192, 1)",
            "rgba(153, 102, 255, 1)",
            "rgba(255, 159, 64, 1)",
          ],
          borderWidth: 1,
        },
      ],
    },
    options: {
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
            },
          },
        ],
      },
    },
  });
</script>
{% endblock graph1 %}
